/*navigation*/
/* #navbar{
	flex-direction: column-reverse;
}
#navbar img{
	margin-right: 0px;
	width: 400px;
	margin: 22px;
}
#navbar ul{
	margin-right: 0;
	flex-direction: row-reverse;
	margin: 20px;
}
#navbar ul li{

    font-size: 2rem;
} */

/*home*/
/* #home{
	height: 1100px;
}
.button{
	flex-direction: column;
}

.h-primary{
	font-size: 3.5rem;
}
#home p{
	font-size: 40px;
}
.btn{
	font-size: 40px;
}

footer{
	margin-top: 220px;
}
footer ul{
	display: block;
}

footer li{
	font-size: 23px;
} */
